*{

}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main{
    flex: 1;
    gap: 1rem;
    background: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebebea;
}


header{
    background-color: #434344;
    width: 100%;
    padding: 20px;
}

footer{
    background: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.game-input-area{
    display: flex;
    flex-direction: column;
}

.game-board{
    width: 400px;
    display: grid;
    aspect-ratio: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    padding: 2rem;
    
    background-color: rgb(99, 98, 98);
    border-radius: 40px;
}



.cell{
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #aaadb1;
    color: white;
    padding: 40px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    height: 100%;
}

button:hover {
  background-color: #6a6b6d;
}

button:active{
    transform: scale(.95);

}

.user-input-area{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.player1-area,
.player2-area{
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}



label{
    font-size: 1.5rem;
}

input{
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    background: #f5f5f5;
    outline: none;
    transition: all 0.3s;
    font-size: 1.5rem;
}

input:focus {
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button[type="submit"]{
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;

    background-color: #f1be15;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 2em;
}

button[type="submit"]:hover {
  background-color: #b68f11;
}

button[type="submit"]:active{
    transform: scale(.95);

}